{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/general.scss' output = 'css/general.css' filter = 'scssphp, cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid container_registration" ng-controller="RegistrationController">
        <div class="card mt-xl-5 mt-lg-4 mt-md-3 mt-sm-2 mt-1 mx-auto text-center registration-form">
            <div class="card-body p-xl-5 p-lg-4 p-md-3 p-sm-2 p-1">
                <h4 class="card-title">Добро пожаловать!</h4>
                <p class="card-text text-success">
                    Если фраза &laquo;Даша &mdash; радость наша&raquo; тебе о чём-то говорит, значит, ты попал по адресу!<br/>
                    Скорее заполняй форму и жди подробности!
                </p>
                {{ form_start(registration_form) }}
                    <div class="form-group">
                        {{ form_label(registration_form.firstname) }}
                        {{ form_widget(registration_form.firstname, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(registration_form.lastname) }}
                        {{ form_widget(registration_form.lastname, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(registration_form.email) }}
                        {{ form_widget(registration_form.email, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(registration_form.recaptcha) }}
                    </div>
                    <button type="submit" class="btn btn-block btn-lg btn-success">Отправить</button>
                {{ form_end(registration_form) }}
            </div>
            <div class="card-footer text-muted">
                <small>
                    Отправляя свои данные, ты принимаешь условия нашей
                    <a href="#" data-toggle="modal" data-target="#privacy-modal">политики конфиденциальности</a>
                </small>
            </div>
        </div>
    </div>
    <div id="privacy-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Политика конфиденциальности</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body small">
                    <div class="row">
                        <div class="col-6">г. Москва</div>
                        <div class="col-6 text-right">&laquo;1&raquo; декабря 2017 г.</div>
                    </div>
                    <ol>
                        <li>
                            <h6>Определение терминов</h6>
                            <ol>
                                <li>
                                    В настоящей Политике конфиденциальности используются следующие термины:
                                    <ol>
                                        <li>
                                            &laquo;Администрация сайта&raquo; &mdash; уполномоченные сотрудники на управление сайтом,
                                            которые организуют и осуществляют Обработку персональных данных,
                                            а также определяют цели Обработки персональных данных, состав Персональных данных,
                                            подлежащих обработке, действия (операции), совершаемые с Персональными данными.
                                        </li>
                                        <li>
                                            &laquo;Персональные данные&raquo; &mdash; любая информация, отосящаяся к прямо или косвенно
                                            определённому или определяемому физическому лицу (субъекту Персональных данных).
                                        </li>
                                        <li>
                                            &laquo;Обработка персональных данных&raquo; &mdash; любое действие (операция)
                                            или совокупность действий (операций), совершаемых с использованием средств автоматизации
                                            или без использования таких средств с Персональными данными, включая сбор, запись,
                                            систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
                                            использование, передачу (предоставление, доступ), обезличивание, блокирование,
                                            удаление, уничтожение Персональных данных.
                                        </li>
                                        <li>
                                            &laquo;Конфиденциальность персональных данных&raquo; &mdash; обязательное для соблюдения
                                            Администрацией сайта требование не допускать их распространения без согласия
                                            субъекта Персональных данных или наличия иного законного основания.
                                        </li>
                                        <li>
                                            &laquo;Пользователь&raquo; &mdash; лицо, имеющее доступ к Сайту, посредством сети Интернет
                                            и использующее Сайт.
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h6>Общие положения</h6>
                            <ol>
                                <li>
                                    Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности
                                    и условиями Обработки персональных данных Пользователя.
                                </li>
                                <li>
                                    В случае несогласия с условиями Политики конфиденциальности Пользователь должен
                                    прекратить использование Сайта.
                                </li>
                                <li>
                                    Настоящая Политика конфиденциальности применяется только к данному Сайту.
                                    Сайт не контролирует и не несёт ответственность за сайты третьих лиц, на которые
                                    Пользователь может перейти по ссылкам, доступным на данном Сайте.
                                </li>
                                <li>
                                    Администрация сайта не проверяет достоверность Персональных данных, предоставляемых Пользователем.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h6>Предмет Политики конфиденциальности</h6>
                            <ol>
                                <li>
                                    Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта
                                    по неразглашению и обеспечению режима защиты Конфиденциальности персональных данных,
                                    которые Пользователь предоставляет по запросу Администрации сайта.
                                </li>
                                <li>
                                    Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности,
                                    предоставляются Пользователем путём заполнения регистрационной формы на Сайте и включают в себя
                                    следующую информацию:
                                    <ul>
                                        <li>имя и фамилию Пользователя;</li>
                                        <li>адрес электронной почты (e-mail).</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h6>Цели сбора персональной информации Пользователя</h6>
                            <ol>
                                <li>
                                    Персональные данные Пользователя Администрация сайта может использовать в целях:
                                    <ol>
                                        <li>
                                            Установление с Пользователем обратной связи, включая направление уведомлений,
                                            запросов, касающихся использования Сайта, оказания услуг.
                                        </li>
                                        <li>
                                            Внутреннее использование Персональных данных в рамках информационной системы
                                            Сайта с использованием средств автоматизации или без использования таких средств.
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h6>Способы и сроки обработки персональной информации</h6>
                            <ol>
                                <li>
                                    Обработка персональных данных Пользователя осуществляется без ограничения срока,
                                    любым законным способом в том числе в информационных системах персональных данных
                                    с использованием средств автоматизации или без использования таких средств.
                                </li>
                                <li>
                                    Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные
                                    другим пользователям, зарегистрированным в информационной системе Сайта.
                                </li>
                                <li>
                                    Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти
                                    Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Понятно</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/general.js' output = 'js/general.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}