{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/general.scss' output = 'css/general.css' filter = 'scssphp, cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid container_welcome" ng-controller="WelcomeController">
        <div class="card mt-xl-5 mt-lg-4 mt-md-3 mt-sm-2 mt-1 mx-auto text-center success-card">
            <div class="card-body p-xl-5 p-lg-4 p-md-3 p-sm-2 p-1">
                <h4 class="card-title">Супер!</h4>
                <p class="card-text">
                    Поздравляю, теперь ты в игре!
                    Осталось дождаться письма с подробными инструкциями, которое придёт,
                    как только зарегистрируются все участники.
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <a href="{{ path('general_index') }}">Ну когда уже Новый год?!</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/general.js' output = 'js/general.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}